td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

input {
    width: 13vw;
}

td, th {
    width: 15vw;
    height: 5vh;
}

.input-field {
    width: 7.5vw;
}

.table-div {
    margin-bottom: 5vh;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.buttons-column {
    border: none;
    width: 15vw;
    height: 5vh;
}

#hidden-column {
    width: 15vw;
    border: none;
}

.edit-buttons, .buttons {
    float: left;
    border: none;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 0;
    border-radius: 5px;
}

tr .buttons {
    visibility: hidden;
}

tr:hover .buttons {
    visibility: visible;
}

@media (max-width: 600px) {
    .buttons-column {
        width: 15vw;
    }
}